<ul class="navbar-nav ml-auto">
  <!-- <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown2">
        <i class="material-icons" style="-webkit-text-fill-color:#1C97FF;font-size: 24px;">keyboard_arrow_down</i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <ul class="pro-body">
          <li><a href="javascript:" class="dropdown-item" [routerLink]="['/pages/alterar-usuario']" routerLinkActive="router-link-active">Trocar a senha</a></li>
          <div class="dropdown-divider"></div>
          <li><a href="javascript:" class="dropdown-item" (click)="logout()">Sair</a></li>
        </ul>
      </div>
    </div>
  </li> -->
</ul>