.footer{
  float: right;
}

table {
  width: 100%;
}

.vagga-primary {
  color: #1C97FF;
}

.vagga-dark {
  color: #1C97FF;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #1C97FF;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #1C97FF;
}

.mat-header-cell.align-center {
  text-align: center;
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}

.pointer {
    cursor: pointer;
}

@import '~material-design-icons/iconfont/material-icons.css';
@import '../node_modules/angular2-toaster/src/toaster.scss';  

// Theme Font
@import "themes/font/theme-font";

// theme scrollbar
@import "themes/plugin/perfect-scrollbar";

// main framework
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "settings/custom-variables";
@import "settings/theme-variables";

// ng module
@import "ng-module/ng-module";

// bootstrap
@import "~bootstrap/scss/bootstrap";


// icon
//@import "themes/font/datta-icon";
//@import "themes/font/feather";
@import "themes/font/fontawesome";
//@import "themes/font/flaticon";

// bootstrap css
@import "themes/bootstrap-overlay/card";
@import "themes/bootstrap-overlay/button";
@import "themes/bootstrap-overlay/radiobox-checkbox";
@import "themes/bootstrap-overlay/switches";
@import "themes/bootstrap-overlay/badge";

@import "themes/general";
@import "themes/generic";
@import "themes/plugin/animate";


// theme layouts
@import "themes/layouts/menu-lite";
@import "themes/layouts/menu-ng";

// Dashboard Widgets
@import "themes/dashboard/widget";

// custom plugin
@import "themes/plugin/sweatalert";
@import "themes/plugin/lightbox";
@import "themes/plugin/notification";
@import "themes/plugin/rangeslider";
@import "themes/plugin/maxlength";
@import "themes/plugin/select2";
@import "themes/plugin/data-tables";


// pages
@import "themes/pages/authentication";
@import "themes/pages/pages";
@import "themes/pages/icon-lauouts";

@import "themes/chat/chat";

// custom
@import "themes/custom";
